<!DOCTYPE html>
{% load static %}

<div class="row">
    <div class="col-2"><img src="{% static "img/logo-fp.png" %}" alt="Logo do sistema"></div>
    <div class="col">
        <div class="col-sm">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">CALCULAR RESERVA DE EMERGÊNCIA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">MEUS INVESTIMENTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">PLANEJAMENTO DE CONSUMO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">DIARIO DOS SONHOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">{{ user.username }} </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Meus dados</a></li>
                        <li><a class="dropdown-item" href="/user/change-password/">Alterar senha</a></li>
                        <li><a class="dropdown-item" href="/logout">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


